%table
  %tr
    %td ip
    %td time
    %td delete

  - @hits.each do |hit|
    %tr
      %td
        = hit.ip
      %td
        = hit.created_at.strftime("%A, %B %d, %Y at %I:%M %p")
      %td
        %button.hit-destroy-button{data: { url: hit_path(hit), hitable_type: hitable_type }}
          delete
