.welcome-page {
  .shorten-url-col {
    padding-right: 10px;
    border-right: 1px solid gray;
  }
  .info-item {
    margin: 10px 0px;
    font-size: 18px;
  }

  .ari-host-prefix {
    color: gray;
    font-family: monospace;
  }

  .show-me {
    font-size: 14px;
    padding: 3px;
    font-style: italic;
  }

  .create-account {
    margin: 20px;
    font-size: 20px;
  }

  .example-urls {
    padding: 5px 10px;
    background: rgba(255,255,255,.7);
    font-size: 14px;
    // border: 1px solid gray;
    width: 330px;
    margin: 5px;

    img {
      display: block;
    }

    img.example-url{
      height: 30px;
      width: auto;
    }

    img.redirect-example {
      width: 150px;
      border: 1px solid black;
    }

  }
}
